<div class="usa-logo" id="extended-logo">

  <!-- <em class="usa-logo__text"><a href="{{site.baseurl}}/" title="Home" aria-label="Home">{{site.title}}</a></em> -->

    <div class="float-left">
      <a href="https://www.frtib.gov/" title="Home" aria-label="Main FRTIB Website" class="no-icon">
      {% asset "FRTIBSeal-white.png" width="100" height="100" alt="FRTIB Seal" id="FRTIBseal" %}
      </a>
    </div>

    <div class="usa-logo__text">
      <a href="https://www.frtib.gov/" title="Home" aria-label="Main FRTIB Website" class="no-icon">
        Federal Retirement Thrift Investment Board
      </a>
    </div>

</div>
